body{
    background-color: gray;
}

fieldset{
    width: 50%;
    height: 1100px;
    float: right;
    background-color: gray;
    outline: ridge white;
}

fieldset .p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: silver;
    font-size: 17px;
    animation: turn;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

img{
    height: 1125px;
    width: 46.5%;
}

fieldset legend,label{
    font-family: cursive;
}

fieldset legend{
    font-size: 1.5em;
    border-bottom: 2px solid;
}

input[type=text],select{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 5px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}

fieldset a p{
    width: 50%;
    padding: 4px 20px;
    margin: 8px 0;
    margin-left: 150px;
    cursor: pointer;
    text-align: center;
    background: linear-gradient(90deg, grey, whitesmoke);
    border: rgb(0, 0, 0) solid 1px;
}

fieldset a{
    text-decoration: none;
    color: black;
}

input[type=reset]{
    width: 50%;
    background-color: rgb(240, 234, 234);
    padding: 4px 20px;
    margin: 8px 0;
    cursor: pointer;
    text-decoration: khaki;
    margin-left: 150px;
}

label{
    font-family: cursive;
    font-size: 19px;
    font-style: bold;
}

input[type=text]{
    background-position: 0px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

@keyframes turn{
    70%{
        transform: rotateX(360deg);
    }
}
@media (max-width: 1000px){
   fieldset{
    width: 48%;
   }
   input[type=reset]{
    margin-left: 80px;
   }
   div a p{
    margin-left: 60px;
   }
   img{
    width: 47%;
   }

}
@media (max-width: 800px){
    fieldset{
        width: 39%;
        overflow: scroll;
    }
    img{
        width: 56%;
    }
}
@media (max-width: 700px){
    img{
        height: 920px;
        width: 100%;
    }
    fieldset{
        height: 900px;
        width: 100%;
    }
    input[type=reset]{
    margin-left: 190px;
   }
   div a p{
    margin-left: 170px;
   }
}

@media (max-width: 500px){
    img{
        width: 30%;
    }
    fieldset{
        width: 30%;
    }
}
@media (max-width: 499px){
    img{
        width: 100%;
    }
    fieldset{
        width: 90%;
    }
}
